.d-flex {
    display: flex;
}

.d-inline-block {
    display: inline-block;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.font-small {
    font-size: 12px;
}

h1 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}